@media (max-width: 1100px) {
  html,
  body {
    overflow-x: hidden;
  }

  .join-button,
  .faq {
    border-radius: var(--smal-rounded);
  }
}

@media (max-width: 860px) {
  nav {
    width: 50%;
  }

  #theme-switch,
  #menu-toggle {
    scale: 0.8;
  }

  #theme-switch:hover {
    transform: translateY(0);
  }

  #theme-switch:hover:active {
    transform: translateY(0);
  }
  :root {
    --title: 2rem;
    --small: 0.75rem;
    --padding-small: 0.25rem;
    --padding-regular: 0.5rem;
    --padding-normal: 0.75rem;
    --padding: 1rem;
    --squared-hight: calc(var(--base-hight) * 4);
  }

  .button-housing-super {
    display: flex;
    flex-direction: column;
    padding: 10% 0%;
    gap: 1rem;
    height: calc(90% - 12.1dvh);
  }

  .join-button,
  .faq {
    width: 10rem;
    height: 3rem;
  }

  .menu-content {
    position: fixed;
    right: -100%;
    transition: all 0.3s ease;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
    padding: calc(min(10dvh, 4em) + 1em) 0 0 1.5em;
    background: linear-gradient(
      hsla(207, 61%, 54%, 0.7),
      var(--background-clr)
    );
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
    overflow: hidden;
  }

  @supports (backdrop-filter: blur(var(--blur-mid))) {
    .menu-content {
      -webkit-backdrop-filter: blur(var(--blur-mid));
      backdrop-filter: blur(var(--blur-mid));
    }
  }
  .menu-content.active {
    right: 0%;
  }
}

@media (max-width: 425px) {
  .darkmode {
    --bg-img: url(images/bgdark\ -\ mobile.png);
  }

  .supporting-text {
    padding: 0 1rem;
  }

  .menu-content {
    width: 70%;
  }

  .join-button,
  .faq {
    --mid: 1rem;

    width: 8rem;
    height: 2.5rem;
  }
}

@media (max-width: 320px) {
  :root {
    --title: 1.5rem;
  }
}
